/meros-1.0/meros-1.0.aux
/meros-1.0/meros-1.0.bbl
/meros-1.0/meros-1.0.bcf
/meros-1.0/meros-1.0.blg
/meros-1.0/meros-1.0.log
/meros-1.0/meros-1.0.out
/meros-1.0/meros-1.0.run.xml
/meros-1.0/meros-1.0.synctex.gz
/meros.bib.sav
/meros-1.0/ea-project/meros-1.0.ldb
/meros-1.1/meros-1.1.aux
/meros-1.1/meros-1.1.bbl
/meros-1.1/meros-1.1.bcf
/meros-1.1/meros-1.1.blg
/meros-1.1/meros-1.1.log
/meros-1.1/meros-1.1.out
/meros-1.1/meros-1.1.run.xml
/meros-1.1/meros-1.1.synctex.gz
/meros-1.1/ea-project/meros-1.1.ldb
/meros-1.1/img/~$meros-graphical-abstract.pptx
/meros-head/meros-head.aux
/meros-head/meros-head.bbl
/meros-head/meros-head.bcf
/meros-head/meros-head.blg
/meros-head/meros-head.log
/meros-head/meros-head.out
/meros-head/meros-head.pdf
/meros-head/meros-head.run.xml
/meros-head/meros-head.synctex.gz
/meros-head/poster/meros-head-poster-b0.pdf
/meros-head/ea-project/meros-head.ldb
/src/meros-doc.aux
/src/meros-doc.bbl
/src/meros-doc.bcf
/src/meros-doc.blg
/src/meros-doc.log
/src/meros-doc.out
/src/meros-doc.pdf
/src/meros-doc.run.xml
/src/meros-doc.synctex.gz
/src/ea-project/meros-ea-project.ldb
/meros_tutorial.vpp.bak_000f
/meros_tutorial.vpp.bak_001d
/meros_tutorial.vpp.bak_002d
/meros_tutorial.vpp.bak_003d
/meros_tutorial.vpp.bak_004d
/meros_tutorial.vpp.bak_005d
/meros_tutorial.vpp.bak_006d
/.meros_tutorial.vpp.lck
/meros_tutorial.vpp.bak_007d
